

@import './_mixins.scss';
@import './_vars.scss';

$color: #EA3636;
.bk-text-overflow-popper {
  .#{$namespace-prefix}-box[data-theme~='bk-error'] {
    color: #26323d;
    box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
      0 4px 80px -8px rgba(36, 40, 47, 0.25),
      0 4px 4px -2px rgba(91, 94, 105, 0.15);
    background-color: $color;
    color: #fff;
  
    &[data-placement^='top'] > .#{$namespace-prefix}-arrow::before {
      border-top-color: $color;
    }
  
    &[data-placement^='bottom'] > .#{$namespace-prefix}-arrow::before {
      border-bottom-color: $color;
    }
  
    &[data-placement^='left'] > .#{$namespace-prefix}-arrow::before {
      border-left-color: $color;
    }
  
    &[data-placement^='right'] > .#{$namespace-prefix}-arrow::before {
      border-right-color: $color;
    }
  
    > .#{$namespace-prefix}-backdrop {
      background-color: $color;
    }
  
    > .#{$namespace-prefix}-svg-arrow {
      fill: $color;
    }
  
    .#{$namespace-prefix}-arrow {
      width: $arrow-size;
      height: $arrow-size;
      color: $color;
  
      &::before {
        content: '';
        position: absolute;
        border-color: transparent;
        border-style: solid;
      }
    }
  
    .#{$namespace-prefix}-content {
      position: relative;
      padding: 5px 9px;
      min-height: 28px;
      min-width: 64px;
      word-wrap: break-word;
    }
  }
  
}
